## Exclude the following directory/files

## Minified files
assets/css/nanosupport.css
assets/css/nanosupport-admin.css
assets/js/nanosupport.min.js
assets/js/nanosupport-admin.min.js
assets/js/nanosupport-dashboard.min.js

## Project build
build/

## Common setting
*.log
*.todo

## Windows image file caches
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Recycle Bin used on file shares
$RECYCLE.BIN/

## Windows shortcuts
*.lnk

## Editor settings
.idea
*.sublime-project
*.sublime-workspace
.sublime-grunt.cache

## Composer files
composer.phar
/vendor

## Node
/node_modules

## Test environment
tmp/
