/**
 * NanoSupport Grid Layout
 *
 * @package NanoSupport
 */

.ns-row {
	margin-left: -15px;
	margin-right: -15px;
}

.ns-row:before,
.ns-row:after,
.ns-form-horizontal .ns-form-group:before,
.ns-form-horizontal .ns-form-group:after {
	content: " ";
	display: table;
}

.ns-row:after,
.ns-form-horizontal .ns-form-group:after {
	clear: both;
}

.ns-col-xs-1, .ns-col-sm-1, .ns-col-md-1, .ns-col-lg-1, .ns-col-xs-2, .ns-col-sm-2, .ns-col-md-2, .ns-col-lg-2, .ns-col-xs-3, .ns-col-sm-3, .ns-col-md-3, .ns-col-lg-3, .ns-col-xs-4, .ns-col-sm-4, .ns-col-md-4, .ns-col-lg-4, .ns-col-xs-5, .ns-col-sm-5, .ns-col-md-5, .ns-col-lg-5, .ns-col-xs-6, .ns-col-sm-6, .ns-col-md-6, .ns-col-lg-6, .ns-col-xs-7, .ns-col-sm-7, .ns-col-md-7, .ns-col-lg-7, .ns-col-xs-8, .ns-col-sm-8, .ns-col-md-8, .ns-col-lg-8, .ns-col-xs-9, .ns-col-sm-9, .ns-col-md-9, .ns-col-lg-9, .ns-col-xs-10, .ns-col-sm-10, .ns-col-md-10, .ns-col-lg-10, .ns-col-xs-11, .ns-col-sm-11, .ns-col-md-11, .ns-col-lg-11, .ns-col-xs-12, .ns-col-sm-12, .ns-col-md-12, .ns-col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.ns-col-xs-1, .ns-col-xs-2, .ns-col-xs-3, .ns-col-xs-4, .ns-col-xs-5, .ns-col-xs-6, .ns-col-xs-7, .ns-col-xs-8, .ns-col-xs-9, .ns-col-xs-10, .ns-col-xs-11, .ns-col-xs-12 {
	float: left;
}

.ns-col-xs-12 {
	width: 100%;
}

.ns-col-xs-11 {
	width: 91.66666667%;
}

.ns-col-xs-10 {
	width: 83.33333333%;
}

.ns-col-xs-9 {
	width: 75%;
}

.ns-col-xs-8 {
	width: 66.66666667%;
}

.ns-col-xs-7 {
	width: 58.33333333%;
}

.ns-col-xs-6 {
	width: 50%;
}

.ns-col-xs-5 {
	width: 41.66666667%;
}

.ns-col-xs-4 {
	width: 33.33333333%;
}

.ns-col-xs-3 {
	width: 25%;
}

.ns-col-xs-2 {
	width: 16.66666667%;
}

.ns-col-xs-1 {
	width: 8.33333333%;
}

.ns-col-xs-pull-12 {
	right: 100%;
}

.ns-col-xs-pull-11 {
	right: 91.66666667%;
}

.ns-col-xs-pull-10 {
	right: 83.33333333%;
}

.ns-col-xs-pull-9 {
	right: 75%;
}

.ns-col-xs-pull-8 {
	right: 66.66666667%;
}

.ns-col-xs-pull-7 {
	right: 58.33333333%;
}

.ns-col-xs-pull-6 {
	right: 50%;
}

.ns-col-xs-pull-5 {
	right: 41.66666667%;
}

.ns-col-xs-pull-4 {
	right: 33.33333333%;
}

.ns-col-xs-pull-3 {
	right: 25%;
}

.ns-col-xs-pull-2 {
	right: 16.66666667%;
}

.ns-col-xs-pull-1 {
	right: 8.33333333%;
}

.ns-col-xs-pull-0 {
	right: auto;
}

.ns-col-xs-push-12 {
	left: 100%;
}

.ns-col-xs-push-11 {
	left: 91.66666667%;
}

.ns-col-xs-push-10 {
	left: 83.33333333%;
}

.ns-col-xs-push-9 {
	left: 75%;
}

.ns-col-xs-push-8 {
	left: 66.66666667%;
}

.ns-col-xs-push-7 {
	left: 58.33333333%;
}

.ns-col-xs-push-6 {
	left: 50%;
}

.ns-col-xs-push-5 {
	left: 41.66666667%;
}

.ns-col-xs-push-4 {
	left: 33.33333333%;
}

.ns-col-xs-push-3 {
	left: 25%;
}

.ns-col-xs-push-2 {
	left: 16.66666667%;
}

.ns-col-xs-push-1 {
	left: 8.33333333%;
}

.ns-col-xs-push-0 {
	left: auto;
}

.ns-col-xs-offset-12 {
	margin-left: 100%;
}

.ns-col-xs-offset-11 {
	margin-left: 91.66666667%;
}

.ns-col-xs-offset-10 {
	margin-left: 83.33333333%;
}

.ns-col-xs-offset-9 {
	margin-left: 75%;
}

.ns-col-xs-offset-8 {
	margin-left: 66.66666667%;
}

.ns-col-xs-offset-7 {
	margin-left: 58.33333333%;
}

.ns-col-xs-offset-6 {
	margin-left: 50%;
}

.ns-col-xs-offset-5 {
	margin-left: 41.66666667%;
}

.ns-col-xs-offset-4 {
	margin-left: 33.33333333%;
}

.ns-col-xs-offset-3 {
	margin-left: 25%;
}

.ns-col-xs-offset-2 {
	margin-left: 16.66666667%;
}

.ns-col-xs-offset-1 {
	margin-left: 8.33333333%;
}

.ns-col-xs-offset-0 {
	margin-left: 0%;
}

@media (min-width: 768px) {
	.ns-col-sm-1, .ns-col-sm-2, .ns-col-sm-3, .ns-col-sm-4, .ns-col-sm-5, .ns-col-sm-6, .ns-col-sm-7, .ns-col-sm-8, .ns-col-sm-9, .ns-col-sm-10, .ns-col-sm-11, .ns-col-sm-12 {
		float: left;
	}

	.ns-col-sm-12 {
		width: 100%;
	}

	.ns-col-sm-11 {
		width: 91.66666667%;
	}

	.ns-col-sm-10 {
		width: 83.33333333%;
	}

	.ns-col-sm-9 {
		width: 75%;
	}

	.ns-col-sm-8 {
		width: 66.66666667%;
	}

	.ns-col-sm-7 {
		width: 58.33333333%;
	}

	.ns-col-sm-6 {
		width: 50%;
	}

	.ns-col-sm-5 {
		width: 41.66666667%;
	}

	.ns-col-sm-4 {
		width: 33.33333333%;
	}

	.ns-col-sm-3 {
		width: 25%;
	}

	.ns-col-sm-2 {
		width: 16.66666667%;
	}

	.ns-col-sm-1 {
		width: 8.33333333%;
	}

	.ns-col-sm-pull-12 {
		right: 100%;
	}

	.ns-col-sm-pull-11 {
		right: 91.66666667%;
	}

	.ns-col-sm-pull-10 {
		right: 83.33333333%;
	}

	.ns-col-sm-pull-9 {
		right: 75%;
	}

	.ns-col-sm-pull-8 {
		right: 66.66666667%;
	}

	.ns-col-sm-pull-7 {
		right: 58.33333333%;
	}

	.ns-col-sm-pull-6 {
		right: 50%;
	}

	.ns-col-sm-pull-5 {
		right: 41.66666667%;
	}

	.ns-col-sm-pull-4 {
		right: 33.33333333%;
	}

	.ns-col-sm-pull-3 {
		right: 25%;
	}

	.ns-col-sm-pull-2 {
		right: 16.66666667%;
	}

	.ns-col-sm-pull-1 {
		right: 8.33333333%;
	}

	.ns-col-sm-pull-0 {
		right: auto;
	}

	.ns-col-sm-push-12 {
		left: 100%;
	}

	.ns-col-sm-push-11 {
		left: 91.66666667%;
	}

	.ns-col-sm-push-10 {
		left: 83.33333333%;
	}

	.ns-col-sm-push-9 {
		left: 75%;
	}

	.ns-col-sm-push-8 {
		left: 66.66666667%;
	}

	.ns-col-sm-push-7 {
		left: 58.33333333%;
	}

	.ns-col-sm-push-6 {
		left: 50%;
	}

	.ns-col-sm-push-5 {
		left: 41.66666667%;
	}

	.ns-col-sm-push-4 {
		left: 33.33333333%;
	}

	.ns-col-sm-push-3 {
		left: 25%;
	}

	.ns-col-sm-push-2 {
		left: 16.66666667%;
	}

	.ns-col-sm-push-1 {
		left: 8.33333333%;
	}

	.ns-col-sm-push-0 {
		left: auto;
	}

	.ns-col-sm-offset-12 {
		margin-left: 100%;
	}

	.ns-col-sm-offset-11 {
		margin-left: 91.66666667%;
	}

	.ns-col-sm-offset-10 {
		margin-left: 83.33333333%;
	}

	.ns-col-sm-offset-9 {
		margin-left: 75%;
	}

	.ns-col-sm-offset-8 {
		margin-left: 66.66666667%;
	}

	.ns-col-sm-offset-7 {
		margin-left: 58.33333333%;
	}

	.ns-col-sm-offset-6 {
		margin-left: 50%;
	}

	.ns-col-sm-offset-5 {
		margin-left: 41.66666667%;
	}

	.ns-col-sm-offset-4 {
		margin-left: 33.33333333%;
	}

	.ns-col-sm-offset-3 {
		margin-left: 25%;
	}

	.ns-col-sm-offset-2 {
		margin-left: 16.66666667%;
	}

	.ns-col-sm-offset-1 {
		margin-left: 8.33333333%;
	}

	.ns-col-sm-offset-0 {
		margin-left: 0%;
	}
}

@media (min-width: 992px) {
	.ns-col-md-1, .ns-col-md-2, .ns-col-md-3, .ns-col-md-4, .ns-col-md-5, .ns-col-md-6, .ns-col-md-7, .ns-col-md-8, .ns-col-md-9, .ns-col-md-10, .ns-col-md-11, .ns-col-md-12 {
		float: left;
	}

	.ns-col-md-12 {
		width: 100%;
	}

	.ns-col-md-11 {
		width: 91.66666667%;
	}

	.ns-col-md-10 {
		width: 83.33333333%;
	}

	.ns-col-md-9 {
		width: 75%;
	}

	.ns-col-md-8 {
		width: 66.66666667%;
	}

	.ns-col-md-7 {
		width: 58.33333333%;
	}

	.ns-col-md-6 {
		width: 50%;
	}

	.ns-col-md-5 {
		width: 41.66666667%;
	}

	.ns-col-md-4 {
		width: 33.33333333%;
	}

	.ns-col-md-3 {
		width: 25%;
	}

	.ns-col-md-2 {
		width: 16.66666667%;
	}

	.ns-col-md-1 {
		width: 8.33333333%;
	}

	.ns-col-md-pull-12 {
		right: 100%;
	}

	.ns-col-md-pull-11 {
		right: 91.66666667%;
	}

	.ns-col-md-pull-10 {
		right: 83.33333333%;
	}

	.ns-col-md-pull-9 {
		right: 75%;
	}

	.ns-col-md-pull-8 {
		right: 66.66666667%;
	}

	.ns-col-md-pull-7 {
		right: 58.33333333%;
	}

	.ns-col-md-pull-6 {
		right: 50%;
	}

	.ns-col-md-pull-5 {
		right: 41.66666667%;
	}

	.ns-col-md-pull-4 {
		right: 33.33333333%;
	}

	.ns-col-md-pull-3 {
		right: 25%;
	}

	.ns-col-md-pull-2 {
		right: 16.66666667%;
	}

	.ns-col-md-pull-1 {
		right: 8.33333333%;
	}

	.ns-col-md-pull-0 {
		right: auto;
	}

	.ns-col-md-push-12 {
		left: 100%;
	}

	.ns-col-md-push-11 {
		left: 91.66666667%;
	}

	.ns-col-md-push-10 {
		left: 83.33333333%;
	}

	.ns-col-md-push-9 {
		left: 75%;
	}

	.ns-col-md-push-8 {
		left: 66.66666667%;
	}

	.ns-col-md-push-7 {
		left: 58.33333333%;
	}

	.ns-col-md-push-6 {
		left: 50%;
	}

	.ns-col-md-push-5 {
		left: 41.66666667%;
	}

	.ns-col-md-push-4 {
		left: 33.33333333%;
	}

	.ns-col-md-push-3 {
		left: 25%;
	}

	.ns-col-md-push-2 {
		left: 16.66666667%;
	}

	.ns-col-md-push-1 {
		left: 8.33333333%;
	}

	.ns-col-md-push-0 {
		left: auto;
	}

	.ns-col-md-offset-12 {
		margin-left: 100%;
	}

	.ns-col-md-offset-11 {
		margin-left: 91.66666667%;
	}

	.ns-col-md-offset-10 {
		margin-left: 83.33333333%;
	}

	.ns-col-md-offset-9 {
		margin-left: 75%;
	}

	.ns-col-md-offset-8 {
		margin-left: 66.66666667%;
	}

	.ns-col-md-offset-7 {
		margin-left: 58.33333333%;
	}

	.ns-col-md-offset-6 {
		margin-left: 50%;
	}

	.ns-col-md-offset-5 {
		margin-left: 41.66666667%;
	}

	.ns-col-md-offset-4 {
		margin-left: 33.33333333%;
	}

	.ns-col-md-offset-3 {
		margin-left: 25%;
	}

	.ns-col-md-offset-2 {
		margin-left: 16.66666667%;
	}

	.ns-col-md-offset-1 {
		margin-left: 8.33333333%;
	}

	.ns-col-md-offset-0 {
		margin-left: 0%;
	}
}

@media (min-width: 1200px) {
	.ns-col-lg-1, .ns-col-lg-2, .ns-col-lg-3, .ns-col-lg-4, .ns-col-lg-5, .ns-col-lg-6, .ns-col-lg-7, .ns-col-lg-8, .ns-col-lg-9, .ns-col-lg-10, .ns-col-lg-11, .ns-col-lg-12 {
		float: left;
	}

	.ns-col-lg-12 {
		width: 100%;
	}

	.ns-col-lg-11 {
		width: 91.66666667%;
	}

	.ns-col-lg-10 {
		width: 83.33333333%;
	}

	.ns-col-lg-9 {
		width: 75%;
	}

	.ns-col-lg-8 {
		width: 66.66666667%;
	}

	.ns-col-lg-7 {
		width: 58.33333333%;
	}

	.ns-col-lg-6 {
		width: 50%;
	}

	.ns-col-lg-5 {
		width: 41.66666667%;
	}

	.ns-col-lg-4 {
		width: 33.33333333%;
	}

	.ns-col-lg-3 {
		width: 25%;
	}

	.ns-col-lg-2 {
		width: 16.66666667%;
	}

	.ns-col-lg-1 {
		width: 8.33333333%;
	}

	.ns-col-lg-pull-12 {
		right: 100%;
	}

	.ns-col-lg-pull-11 {
		right: 91.66666667%;
	}

	.ns-col-lg-pull-10 {
		right: 83.33333333%;
	}

	.ns-col-lg-pull-9 {
		right: 75%;
	}

	.ns-col-lg-pull-8 {
		right: 66.66666667%;
	}

	.ns-col-lg-pull-7 {
		right: 58.33333333%;
	}

	.ns-col-lg-pull-6 {
		right: 50%;
	}

	.ns-col-lg-pull-5 {
		right: 41.66666667%;
	}

	.ns-col-lg-pull-4 {
		right: 33.33333333%;
	}

	.ns-col-lg-pull-3 {
		right: 25%;
	}

	.ns-col-lg-pull-2 {
		right: 16.66666667%;
	}

	.ns-col-lg-pull-1 {
		right: 8.33333333%;
	}

	.ns-col-lg-pull-0 {
		right: auto;
	}

	.ns-col-lg-push-12 {
		left: 100%;
	}

	.ns-col-lg-push-11 {
		left: 91.66666667%;
	}

	.ns-col-lg-push-10 {
		left: 83.33333333%;
	}

	.ns-col-lg-push-9 {
		left: 75%;
	}

	.ns-col-lg-push-8 {
		left: 66.66666667%;
	}

	.ns-col-lg-push-7 {
		left: 58.33333333%;
	}

	.ns-col-lg-push-6 {
		left: 50%;
	}

	.ns-col-lg-push-5 {
		left: 41.66666667%;
	}

	.ns-col-lg-push-4 {
		left: 33.33333333%;
	}

	.ns-col-lg-push-3 {
		left: 25%;
	}

	.ns-col-lg-push-2 {
		left: 16.66666667%;
	}

	.ns-col-lg-push-1 {
		left: 8.33333333%;
	}

	.ns-col-lg-push-0 {
		left: auto;
	}

	.ns-col-lg-offset-12 {
		margin-left: 100%;
	}

	.ns-col-lg-offset-11 {
		margin-left: 91.66666667%;
	}

	.ns-col-lg-offset-10 {
		margin-left: 83.33333333%;
	}

	.ns-col-lg-offset-9 {
		margin-left: 75%;
	}

	.ns-col-lg-offset-8 {
		margin-left: 66.66666667%;
	}

	.ns-col-lg-offset-7 {
		margin-left: 58.33333333%;
	}

	.ns-col-lg-offset-6 {
		margin-left: 50%;
	}

	.ns-col-lg-offset-5 {
		margin-left: 41.66666667%;
	}

	.ns-col-lg-offset-4 {
		margin-left: 33.33333333%;
	}

	.ns-col-lg-offset-3 {
		margin-left: 25%;
	}

	.ns-col-lg-offset-2 {
		margin-left: 16.66666667%;
	}

	.ns-col-lg-offset-1 {
		margin-left: 8.33333333%;
	}

	.ns-col-lg-offset-0 {
		margin-left: 0%;
	}
}
