/**
 * NanoSupport Common Stylesheet
 * Storing all the variables.
 *
 * @author 	nanodesigns
 * @package NanoSupport
 */

$red: 			#da4453;
$color-danger:	$red;
$red-hover: 	#ed5565;
$orange: 		#f6bb42;
$color-warning:	$orange;
$orange-hover: 	#ffce54;
$green: 		#8cc152;
$color-success:	$green;
$green-hover: 	#a0d468;
$blue: 			#3bafda;
$color-primary:	$blue;
$blue-hover: 	#4fc1e9;
