/**
 * NanoSupport Admin Stylesheet
 * For admin panel styles.
 *
 * @author 	nanodesigns
 * @package NanoSupport
 */

.ns-clearfix{
	clear: both;
}

.ns-alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.ns-alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

.ns-alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

.ns-tooltip-icon{
	color: #999;
	position: relative;
	cursor: pointer;

	&:after{
		content: attr(data-tooltip);
		display: none;
		position: absolute;
		width: 200px;
		height: auto;
		padding: 10px;
		text-align: center;
		left: 20px;
		top: 0;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: #fff;
		-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.15);
		   -moz-box-shadow: 0 0 15px rgba(0,0,0,0.15);
				box-shadow: 0 0 15px rgba(0,0,0,0.15);
		z-index: 2;
		font-family: "Open Sans", sans-serif;
		font-size: 15px;
		line-height: 1.3;
	}

	&:hover::after {
		display: inline-block;
	}
}

body.post-new-php{
	.ns-tooltip-icon:after{
		top: 20px;
		right: 0;
		left: auto;
	}
}

.ns-button-danger{
	background: #e14d43;
    border-color: #d02c21 #ba281e #ba281e;
    color: white;
    -webkit-box-shadow: 0 1px 0 #ba281e;
    		box-shadow: 0 1px 0 #ba281e;
    text-shadow: 0 -1px 1px #ba281e, 1px 0 1px #ba281e, 0 1px 1px #ba281e, -1px 0 1px #ba281e;
}

#nanosupport-responses{
	border: 0;
	background: transparent;
	-webkit-box-shadow: 0 0 0 0;
			box-shadow: 0 0 0 0;

	h3.hndle,
	.handlediv{
		display: none;
	}

	.inside{
		padding: 0;
	}
}

/* response meta box title */
#poststuff #nanosupport-responses .hndle{
	padding-left: 0;
	padding-right: 0;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	color: #999;
	text-align: center;
	text-transform: uppercase;

	&:before{
      left: -1em;
      margin: 0 0 0 -50%;
    }

    &:after{
      left: 1em;
      margin: 0 -50% 0 0;
    }

    &:before,
	&:after{
		background-color: #ccc;
		content: '';
		display: inline-block;
		height: 1px;
		position: relative;
		vertical-align: middle;
		width: 50%;
	}
}

.ns-row{
	&:before,
	&:after{
		display:table;
		content:" ";
	}

	&:after{
		clear: both;
	}

	* {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}

	*:before,
	*:after {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
}

.ns-cards{
	background-color: #fff;
	-webkit-box-shadow: 0 0 25px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0 0 25px rgba(0,0,0,0.2);
	    	box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

.ticket-response-cards,
.ns-feedback{
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #e1e1e1;
	border-top-width: 5px;
	border-top-color: #ccc;
	font-size: 14px;
	line-height: 1.4;
}

.ns-feedback{
	background-color: #ededed;
	margin-bottom: 20px;
	border-top-color: #0073aa;
}

.response-user{
	float: left;
	width: 75%;

	.ticket-head{
		font-size: 14px;
		line-height: 1;
		margin: 0;
		padding: 0;
		
		small{
			font-weight: normal;
		}
	}
}

.response-handle{
	float: right;
	width: 25%;
	text-align: right;
}

.ticket-response{
	ul{
		list-style-type: disc;
		margin-left: 32px;
	}

	blockquote{
		border: 0 solid #1a1a1a;
    	border-left-width: 4px;
    	overflow: hidden;
    	padding: 0 0 0 1.263157895em;
	}

	pre{
		border: 1px solid #d1d1d1;
		white-space: pre;
		white-space: pre-wrap;
		word-wrap: break-word;
		padding: 1em;
		overflow: auto;
		font-size: 16px;
    	font-size: 1rem;
	}
}

.ticket-response,
.ns-feedback-form{
	border-top: 1px solid #e1e1e1;
	margin-top: 10px;
	font-size: 16px;

	p{
		font-size: 16px;
	}
}

.ns-feedback-form textarea{
	font-size: 16px;
}

.delete-response{
	text-decoration: none;
	cursor: pointer;
}

.ns-field-item{
	width: 100%;
	border-radius: 4px;
}

.ns-select,
.ns-select-search{
	min-width: 300px;
}

.ns-auto-select,
.ns-auto-select-search{
	max-width: 100%;
}

.ns-hide-default{
	display: none;
}

.ns-head-col{
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;

	.ns-tooltip{
		margin: 0;
	}
}

.nanosupport-left-column{
	float: left;
	width: 70%;

	.ns-textbox{
		max-width: 300px;
		border-color: #aaa;
	}
}

.nanosupport-right-column{
	float: right;
	width: 28%;
	padding-top: 1em;
	padding-bottom: 1em;

	a{
		text-decoration: none;
	}

	h3{
		padding-bottom: 5px;
		border-bottom: 1px solid #ccc;

		small{
			color: #666;
			font-size: 13px;
		}
	}
}

.nanosupport-50-left,
.nanosupport-50-right{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.nanosupport-50-left{
	float: left;
	width: 49%;
	margin-right: 1%;
}

.nanosupport-50-right{
	float: right;
	width: 49%;
}

@media (max-width:768px){
	.nanosupport-left-column,
	.nanosupport-right-column{
		float: left;
		width: 100%;
		clear: both;
		padding: 0;
	}

	.nanosupport-left-column,
	.nanosupport-50-left{
		margin-bottom: 20px;
	}

	.nanosupport-50-left,
	.nanosupport-50-right{
		float: left;
		width: 100%;
	}
}

/** Modified Bootstrap Class for Admin Panel */

.ns-label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
  	color: #333;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
  	background-color: #aab2bd;

  	.dashicons{
  		font-size: 14px;
  		vertical-align: middle;
  	}
}

a.ns-label:hover,
a.ns-label:focus {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}

.ns-label-default {
 	background-color: #777;
}

.ns-label-primary {
 	background-color: #3bafda;
}

.ns-label-success {
 	background-color: #8cc152;
}

.ns-label-info {
 	background-color: #37bc9b;
}

.ns-label-warning {
 	background-color: #f0ad4e;
}

.ns-label-danger {
 	background-color: #da4453;
}

.ns-text-muted {
 	color: #777;
}

.ns-text-primary {
 	color: #3bafda;
}

.ns-text-success {
 	color: #8cc152;
}

.ns-text-info {
 	color: #37bc9b;
}

.ns-text-warning {
 	color: #8a6d3b;
}

.ns-text-danger {
 	color: #da4453;
}

.ns-red{
	color: red;
}

.responses-count{
	display: inline-block;
    padding: 0 8px;
    height: 2em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #72777c;
    color: #fff;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    vertical-align: top;
    margin-top: 5px;

    &:after{
    	content: "";
	    display: block;
	    margin-left: 8px;
	    width: 0;
	    height: 0;
	    border-top: 5px solid #72777c;
	    border-right: 5px solid transparent;
    }
}

.column-featured{
	.dashicons-star-filled{
		color: #0073aa;
	}

	.dashicons-star-empty{
		color: #ccc;
	}
}

.ns-dot{
	display: inline-block;
	margin-right: 5px;
	width: 13px;
	height: 13px;
	border-radius: 100%;
	vertical-align: middle;
	background-color: #666;
}

.ns-text-danger .ns-dot{ background-color: #da4453; }
.ns-text-info .ns-dot{ background-color: #31708f; }
.ns-text-warning .ns-dot{ background-color: #f6bb42; }

/**
 * Emulating <blink> using WebKit CSS3 animation        
 *   This code is part of John Smith's blog
 *
 * Copyright 2010 by John Smith, All Rights Reserved
 *
 * @link   http://www.john-smith.me/emulating--lt-blink-gt--using-webkit-css3-animation
 * @date   18th October 2010 at 11:01 p.m.
 * @author John Smith
 */
@-webkit-keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
        @keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }

.blink {
	text-decoration:blink;

	-webkit-animation-name:blinker;
			animation-name:blinker;  
	-webkit-animation-iteration-count:infinite;  
			animation-iteration-count:infinite;  
	-webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0);
			animation-timing-function:cubic-bezier(1.0,0,0,1.0);
	-webkit-animation-duration:1s; 
			animation-duration:1s; 
}

/** Dashboard **/
#nanosupport-widget{
	.dashboard-head{
		font-weight: bold;
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 3px;
	}

	.nanosupport-right-column{
		padding-top: 0;
		padding-bottom: 0;
	}

	@media (min-width: 768px) {
		.ns-button-block{
			width: 100%;
			text-align: center;
			margin-bottom: 5px;
		}
	}
}

.ns-button-danger,
.wp-core-ui .button.ns-button-danger{
	background: #da4453;
    color: #fff;
    border-color: #da4453;
    box-shadow: 0 1px 0 #730404;
}

.ns-button-info,
.wp-core-ui .button.ns-button-info{
	background: #37bc9b;
    color: #fff;
    border-color: #37bc9b;
    box-shadow: 0 1px 0 #257B66;
}

.ns-text-center{
	text-align: center;
}

.ns-total-ticket-count{
	font-weight: bold;
}

#ns-no-activity{
	text-align: center;

	.smiley:before {
		content: "\f328";
		font: normal 120px/1 dashicons;
		speak: none;
		display: block;
		margin: 0 0 0 5px;
		padding: 0;
		text-indent: 0;
		text-align: center;
		position: relative;
		-webkit-font-smoothing: antialiased;
		text-decoration: none !important;
		color: #999;
	}
}

.c3-legend-item{
	font-family: inherit;
	color: #444;
	font-size: 13px;
	line-height: 1.4em;
}

.c3 svg{
	font-family: inherit;
}

/** -------------- Tooltip -------------- **/

$tt_prop: all;
$tt_time: 500ms;
$tt_ease: ease;

.ns-tooltip{
	cursor: help;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
	position: relative;
	color: #999;
	vertical-align: middle;
	float: left;

	&:hover .ns-tooltip-message{
		opacity: 1;
		visibility: visible;
	}
}

.ns-tooltip-message{
	right: 16px;
	top: 0;

	-webkit-transition: $tt_prop $tt_time $tt_ease;
	   -moz-transition: $tt_prop $tt_time $tt_ease;
	     -o-transition: $tt_prop $tt_time $tt_ease;
		-ms-transition: $tt_prop $tt_time $tt_ease;
			transition: $tt_prop $tt_time $tt_ease;
}

@media (min-width: 767px) {
	.ns-tooltip{
		.ns-tooltip-message{
			right: auto;
		}
	}
}

.ns-tooltip-message{
	opacity: 0;
	visibility: hidden;
	display: inline-block;
	position: absolute;
	width: 200px;
	padding: 10px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	color: #fff;
	background-color: #444;
	border: 1px solid #222;
	font-size: 12px;
	line-height: 17px;
	-webkit-box-shadow: 0 0 5px #333;
	   -moz-box-shadow: 0 0 5px #333;
			box-shadow: 0 0 5px #333;
	text-align: center;
	z-index: 5;
	-webkit-transition: $tt_prop $tt_time $tt_ease;
	   -moz-transition: $tt_prop $tt_time $tt_ease;
	     -o-transition: $tt_prop $tt_time $tt_ease;
		-ms-transition: $tt_prop $tt_time $tt_ease;
			transition: $tt_prop $tt_time $tt_ease;

	code,
	pre{
		background-color: rgba(0,0,0,0.3);
		color: #da4453;
	}
}

@media (min-width: 768px) {
	.ns-tooltip-top{
		.ns-tooltip-message{
			top: auto;
			right: -93px;
			bottom: 19px;
		}
	}
}

.ns-tooltip-left{
	.ns-tooltip-message{
		right: 19px;
	}
}

.ns-tooltip-right{
	.ns-tooltip-message{
		left: 19px;
	}
}


/** -------------- Metaboxes -------------- **/


.misc-pub-section{
	.ns-tooltip{
		float: right;
		margin-right: 0;
	}
	.ns-tooltip-message{
		font-weight: normal;
	}
}


/** -------------- Thickbox | KB category meta -------------- **/

/* Making thickbox modal window dynamic width-height */
#TB_window {
	margin-top: 0px !important;
	margin-left: 0px !important;
	top: 15% !important;
	right: 10% !important;
	bottom: 15% !important;
	left: 10% !important;
	width: 80% !important;
	height: 50% !important;
	overflow: hidden;
}

/* @media (min-width: 992px) {
	#TB_window {
		top: 10% !important;
		bottom: 10% !important;
		height: 80% !important;
	}
} */

#TB_ajaxContent{
	width: auto !important;
	height: 85% !important;
	padding-right: 0 !important;
	overflow: hidden;
	overflow-y: scroll;
}

#TB_Image {
	width: auto !important;
	max-width: 100%;
	height: auto !important;
	max-height: 100%;
	margin: auto !important; 
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 20px;
	border: none !important;
}

.nanosupport-icon-button{
	margin: 2px !important;
	height: 32px !important;
	padding: 0 9px 32px !important;
	font-size: 17px !important;

	&:hover{
		-ms-transform: scale(1.5, 1.5); /* IE 9 */
	    -webkit-transform: scale(1.5, 1.5); /* Safari */
	    transform: scale(1.5, 1.5);
	}
}

.ns-admin-btnlike{
	color: #555;
    border-color: #cccccc;
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 #cccccc;
    		box-shadow: 0 1px 0 #cccccc;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    		border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    		box-sizing: border-box;
}
