@charset "UTF-8";

@font-face {
  font-family: "ns-icon";
  src:url("../fonts/nanosupport-icon.eot");
  src:url("../fonts/nanosupport-icon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/nanosupport-icon.woff") format("woff"),
    url("../fonts/nanosupport-icon.ttf") format("truetype"),
    url("../fonts/nanosupport-icon.svg#nanosupport-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "ns-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  vertical-align: middle;
}

[class^="ns-icon-"]:before,
[class*=" ns-icon-"]:before {
  font-family: "ns-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  vertical-align: middle;
}

.ns-icon-nanosupport:before {
  content: "\e000";
}
.ns-icon-responses:before {
  content: "\e001";
}
.ns-icon-search:before {
  content: "\e002";
}
.ns-icon-trashcan:before {
  content: "\e003";
}
.ns-icon-question:before {
  content: "\e004";
}
.ns-icon-notification:before {
  content: "\e005";
}
.ns-icon-no-notification:before {
  content: "\e006";
}
.ns-icon-remove:before {
  content: "\e007";
}
.ns-icon-edit:before {
  content: "\e008";
}
.ns-icon-refresh:before {
  content: "\e00a";
}
.ns-icon-repeat:before {
  content: "\e00b";
}
.ns-icon-chevron-down:before {
  content: "\e00c";
}
.ns-icon-chevron-left:before {
  content: "\e00d";
}
.ns-icon-chevron-right:before {
  content: "\e00e";
}
.ns-icon-chevron-up:before {
  content: "\e00f";
}
.ns-icon-chevron-circle-down:before {
  content: "\e010";
}
.ns-icon-chevron-circle-left:before {
  content: "\e011";
}
.ns-icon-chevron-circle-right:before {
  content: "\e012";
}
.ns-icon-chevron-circle-up:before {
  content: "\e013";
}
.ns-icon-minus-circle:before {
  content: "\e015";
}
.ns-icon-minus-square:before {
  content: "\e016";
}
.ns-icon-plus-square:before {
  content: "\e009";
}
.ns-icon-plus-circle:before {
  content: "\e014";
}
.ns-icon-link:before {
  content: "\e017";
}
.ns-icon-tags:before {
  content: "\e018";
}
.ns-icon-tag:before {
  content: "\e019";
}
.ns-icon-docs:before {
  content: "\e01a";
}
.ns-icon-attachment:before {
  content: "\e01b";
}
.ns-icon-lock:before {
  content: "\e01c";
}
.ns-icon-unlock:before {
  content: "\e01d";
}
.ns-icon-settings:before {
  content: "\e01e";
}
.ns-icon-wrench:before {
  content: "\e01f";
}
.ns-icon-gears:before {
  content: "\e020";
}
.ns-icon-info-circled:before {
  content: "\e021";
}
.ns-icon-info:before {
  content: "\e022";
}
.ns-icon-help:before {
  content: "\e023";
}
.ns-icon-help-circled:before {
  content: "\e024";
}
.ns-icon-pie-chart:before {
  content: "\e025";
}
.ns-icon-graph-bar:before {
  content: "\e026";
}
.ns-icon-line-chart:before {
  content: "\e027";
}
.ns-icon-bar-chart:before {
  content: "\e028";
}
.ns-icon-user:before {
  content: "\e029";
}
.ns-icon-user-outline:before {
  content: "\e02a";
}
.ns-icon-users:before {
  content: "\e02b";
}
.ns-icon-users-outline:before {
  content: "\e02c";
}
.ns-icon-favorite:before {
  content: "\e02d";
}
.ns-icon-favorite-outline:before {
  content: "\e02e";
}
.ns-icon-desktop:before {
  content: "\e02f";
}
.ns-icon-globe:before {
  content: "\e030";
}
.ns-icon-hand:before {
  content: "\e031";
}
.ns-icon-happy:before {
  content: "\e032";
}
.ns-icon-laptop:before {
  content: "\e033";
}
.ns-icon-locate:before {
  content: "\e034";
}
.ns-icon-mail:before {
  content: "\e035";
}
.ns-icon-microphone:before {
  content: "\e036";
}
.ns-icon-microphone-off:before {
  content: "\e037";
}
.ns-icon-options:before {
  content: "\e038";
}
.ns-icon-phone-landscape:before {
  content: "\e039";
}
.ns-icon-phone-portrait:before {
  content: "\e03a";
}
.ns-icon-pin:before {
  content: "\e03b";
}
.ns-icon-plane:before {
  content: "\e03c";
}
.ns-icon-stopwatch:before {
  content: "\e03d";
}
.ns-icon-sunny:before {
  content: "\e03e";
}
.ns-icon-android-time:before {
  content: "\e03f";
}
.ns-icon-bonfire:before {
  content: "\e040";
}
.ns-icon-bluetooth:before {
  content: "\e041";
}
.ns-icon-bug:before {
  content: "\e042";
}
.ns-icon-clipboard:before {
  content: "\e043";
}
.ns-icon-coffee:before {
  content: "\e044";
}
.ns-icon-compass:before {
  content: "\e045";
}
.ns-icon-cube:before {
  content: "\e046";
}
.ns-icon-flask:before {
  content: "\e047";
}
.ns-icon-flask-bubbles:before {
  content: "\e048";
}
.ns-icon-female:before {
  content: "\e049";
}
.ns-icon-flag:before {
  content: "\e04a";
}
.ns-icon-fork:before {
  content: "\e04b";
}
.ns-icon-hammer:before {
  content: "\e04c";
}
.ns-icon-help-buoy:before {
  content: "\e04d";
}
.ns-icon-alarm:before {
  content: "\e04e";
}
.ns-icon-americanfootball:before {
  content: "\e04f";
}
.ns-icon-flame:before {
  content: "\e050";
}
.ns-icon-game-controller:before {
  content: "\e051";
}
.ns-icon-infinite:before {
  content: "\e052";
}
.ns-icon-lightbulb:before {
  content: "\e053";
}
.ns-icon-nutrition:before {
  content: "\e054";
}
.ns-icon-paw:before {
  content: "\e055";
}
.ns-icon-pulse:before {
  content: "\e056";
}
.ns-icon-toggle:before {
  content: "\e057";
}
.ns-icon-wineglass:before {
  content: "\e058";
}
.ns-icon-jet:before {
  content: "\e059";
}
.ns-icon-leaf:before {
  content: "\e05a";
}
.ns-icon-mic:before {
  content: "\e05b";
}
.ns-icon-mouse:before {
  content: "\e05c";
}
.ns-icon-paper-airplane:before {
  content: "\e05d";
}
.ns-icon-planet:before {
  content: "\e05e";
}
.ns-icon-ribbon:before {
  content: "\e05f";
}
.ns-icon-thumbsdown:before {
  content: "\e060";
}
.ns-icon-thumbsup:before {
  content: "\e061";
}
.ns-icon-buffer:before {
  content: "\e062";
}
.ns-icon-display-contrast:before {
  content: "\e063";
}
.ns-icon-power:before {
  content: "\e064";
}
.ns-icon-wordpress:before {
  content: "\e067";
}
.ns-icon-gift:before {
  content: "\e065";
}
.ns-icon-github:before {
  content: "\e066";
}
.ns-icon-microscope:before {
  content: "\e068";
}
.ns-icon-scholar:before {
  content: "\e069";
}
.ns-icon-plugin:before {
  content: "\e06a";
}
.ns-icon-book:before {
  content: "\e06b";
}
.ns-icon-photo:before {
  content: "\e06c";
}
.ns-icon-trees:before {
  content: "\e06d";
}
.ns-icon-shield:before {
  content: "\e06e";
}
.ns-icon-star-filled:before {
  content: "\e06f";
}
.ns-icon-star-empty:before {
  content: "\e070";
}
.ns-icon-atom:before {
  content: "\e071";
}
.ns-icon-responsive:before {
  content: "\e072";
}
.ns-icon-facebook:before {
  content: "\e073";
}
.ns-icon-twitter:before {
  content: "\e074";
}
.ns-icon-linkedin:before {
  content: "\e075";
}
.ns-icon-gplus:before {
  content: "\e076";
}
.ns-icon-pinterest:before {
  content: "\e077";
}
.ns-icon-tumblr:before {
  content: "\e078";
}
.ns-icon-stumbleupon:before {
  content: "\e079";
}
.ns-icon-ming:before {
  content: "\e07a";
}
